<h1>Welcome to example.com, <%= @user.fname %></h1>
You have successfully signed up to example.com,
your username is: <%= @user.testlogin %>.<br>
To login to the site, just follow this link: <%= @url %>.
<p>Thanks for joining and have a great day!</p>